<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
<!--        开启延迟加载开关-->
        <setting name="lazyLoadingEnabled" value="true"/>
<!--        开启属性按需加载开关-->
        <setting name="aggressiveLazyLoading" value="false"/>
<!--        开启全局缓存开关-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <environments default="mysqlDevelop">
        <environment id="oracleDevelop">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@10.128.180.48:1521/szsj"/>
                <property name="username" value="WORKREPORT"/>
                <property name="password" value="its7888"/>
            </dataSource>
        </environment>
        <environment id="mysqlDevelop">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/tx?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="xiapp123$"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="com/demo/mapper/impl/mybatisMapper.xml"/>-->
        <mapper resource="com/demo/mapper/impl/mysqlMapper.xml"/>
    </mappers>
</configuration>